.month {
    font-size: 30px;
    margin-left: 10px;
}

.date-item {
    display: inline-block;
    margin-left: 10px;
    height: 10px;
    font-size: 20px;
}

.date-item.inspected a {
    color: red;
}