<html>
    <head>
        <title>爬虫工具</title>
        <script type="text/javascript" language="javascript" src="/static/js/jquery.min.js"></script>
        <link href="data:text/css;charset=utf-8," data-href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">
        <link href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="shortcut icon" href="http://www.yidianzixun.com/favicon.ico">

    </head>
    <body>
    <div class="page-header">
        <h1>爬虫工具<small>beta</small>
        </h1>

    </div>

    <ul class="nav nav-tabs" style="margin-bottom: 20px">
        <!--<li role="homepage" class="active"><a href="#">抓取</a></li>-->
        <li role="crawl-list" class="active"><a href="#">列表</a></li>
        <li role="crawl-validation"><a href="#">验证</a></li>
    </ul>

    <!--
    <div id="homepage" class="tab-item">
    <div class="edit-item">
        <span class="label label-info">抓取:</span>
        <div class="input-group">
            <span class="input-group-addon">媒体名称</span>
            <input id="media-name" type="text" class="form-control" placeholder="媒体名称" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon">媒体id</span>
            <input id="media-id" type="text" class="form-control" placeholder="媒体id" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
            <span class="input-group-addon">抓取地址</span>
            <input id="media-addr" type="text" class="form-control" placeholder="抓取地址" aria-describedby="basic-addon1">
        </div>
        <button id="crawl-btn" type="button" class="btn btn-success submit">保存</button>
    </div>
    <hr>
    <div class="edit-item">
        <span class="label label-info">停抓:</span>
        <div class="input-group">
            <span class="input-group-addon">媒体名称</span>
            <input id="stop-media-name" type="text" class="form-control" placeholder="媒体名称" aria-describedby="basic-addon1">
        </div>
        <button id="stop-crawl-btn" type="button" class="btn btn-success submit">保存</button>
    </div>
    </div>
    -->

    <div id="crawl-list" class="tab-item">
        <div class="crawl-list-item left">
            <span class="label label-info">抓取:</span>
        <ul id="crawl-list-crawl" class="babel-tick-list">
            <!--
            <li>123123</li>
            <li>123123</li>
            <li>123123</li>
            -->
        </ul>
        </div>

        <div class="crawl-list-item right">
            <span class="label label-info">停抓:</span>
        <ul id="crawl-list-stop" class="babel-tick-list">
            <!--
            <li>123123</li>
            <li>123123</li>
            <li>123123</li>
            <li>123123</li>
            <li>123123</li>
            <li>123123</li>
            <li>123123</li>
            <li>123123</li>
            <li>123123</li>
            <li>123123</li>
            -->
        </ul>
        </div>
    </div>


    <div id="crawl-validation" style="display: none" class="tab-item">
        <div class="input-group">
            <span class="input-group-addon">抓取地址</span>
            <input id="validation-addr" type="text" class="form-control" placeholder="媒体名称" aria-describedby="basic-addon1">
        </div>
        <button id="validation-btn" type="button" class="btn btn-success submit">验证</button>
    </div>

    <div class="alert alert-success" role="alert"></div>
    <script type="text/javascript" language="javascript" src="/static/js/main.js"></script>
    </body>
</html>
